.RootLayout {
  width: 100%;
  height: 100vh;
  padding: 24px;
  background: var(--bg-layout-white, #f4f4f5);
}

.RootLayoutInner {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px 12px 0 0;
  background: var(--grey-0-white, #fff);
}

@media only screen and (max-width: 768px) {
  .RootLayout {
    padding: 12px;
  }

  .RootLayoutInner {
    padding: 15px;
  }
}
